$red:#E52D2D;


* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	font-family: 'Alegreya', 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 30px;
}
a {
	color: inherit;
	text-decoration: none;
	transition: .2s;
	&:hover {
		color: #E52D2D;
	}
}
button {
	cursor: pointer;
}
ul, li, button {
	border: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	color: inherit;
}
img {
	width: 100%;
	height: auto;
}

.app {
	height: 100%;
	// overflow-y: hidden;
}
.hidden {
	overflow: hidden;
}
.container {
	max-width: 1320px + 62px;
	margin: 0 auto;
	padding: 0 31px;
	@media (max-width: 990px) {
		max-width: 1320px + 32px;
		padding: 0 16px;
	}
}
.box {
	margin: 0 0 100px;
}
footer {
	margin: -100px 0 0;
}
.btn {
	width: 100%;
	height: auto;
	background: #E52D2D;
	color: #fff;
	border-radius: 5px;
	padding: 16px 50px;
	transition: .2s;
	border: 3px solid rgba($color: #8FC9FF, $alpha: 0);	
	&:hover {
		background: #FF3C3C;
	}
	&:active {
		background: #BF221E;		
	}
	&:focus {
		background: #E52D2D;
		// border: 3px solid #8FC9FF;	
	}
	&:disabled {
		background: #DBDBDB;
		color: #939393;
	}
}
.btn_ex {
	width: 20px;
	height: 20px;
}
input {
	background: #FFFFFF;
	border: 1px solid #C4C7CA;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;	
	padding: 13px 12px;
	height: 44px;
	width: 100%;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		display: none;
	}
	&:hover {
		border: 1px solid #000000;
	}
	&:focus {
		border: 2px solid #8FC9FF;
	}
	&:active {
		border: 2px solid #8FC9FF;
	}
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
