.header {
	padding: 46px 0 0;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 auto;
	background: #fff;
	width: 100%;
	&__content {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}
	&__logo {
		max-width: 182px;
		height: 84px;
		position: relative;
		a {
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
	&__nav {
		margin: 0 auto;
	}
	&__item {
		display: flex;
		align-items: center;
		&.tel {
			margin-right: 60px;
			font-size: 24px;
			line-height: 33px;
		}
		&.drop {
			margin-right: 44px;
		}
		&-img {
			width: 40px;
			height: 40px;
			margin-right: 12px;
			position: relative;
		}
		&-subtitle {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			text-transform: initial;
			font-size: 12px;
			line-height: 18px;
			color: #848A9A;
		}
		&-lang {
			width: 40px;
			height: 40px;
			background: #EFF0F1;
			display: flex;
			justify-content: center;
			border-radius: 50%;
			align-items: center;
			button {
				border-radius: 50%;
				cursor: pointer;
				width: 100%;
				height: 100%;
				transition: .2s;
				&:hover {
					background-color: $red;
					color: #fff;
				}
			}
			
		}
		.int {
			position: absolute;
			display: flex;
			justify-content: center;
			top: 0;
			right: 0;
			transform: translate(50%, -50%);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: red;
			font-family: Roboto;
			font-weight: 500;
			font-size: 11px;
			color: #fff;
		}
	}
	&__wrap_btn {
		display: none;
		min-width: 40px;
		height: 40px;
		padding: 11px 8px;
		margin-left: 20px;
	}
	&__btn {
		position: relative;
		width: 100%;
		height: 100%;
		span {
			position: absolute;
			width: 100%;
			height: 3px;
			top: 0;
			left: 0;
			background-color: #000;
			border-radius: 1.5px;
			transform: translateY(-50%);
			transform-origin: center;
			transition: .2s;
		}
		span:nth-child(2) {
			top: 50%;
			transform: translateY(-50%) scale(1);
		}
		span:nth-child(3) {
			width: calc(100% - 5px);
			top: 100%;
		}
	}
	&__btn.active {
		span {
			background-color: #fff;
		}
		span:nth-child(1) {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		span:nth-child(2) {
			transform: translateY(-50%) scale(0);
		}
		span:nth-child(3) {
			top: 50%;
			width: 100%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
	&.scroll {
		position: fixed;
		padding: 10px 0;
		box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3);
		.header__logo {
			width: 68px;
			height: 31px;
		}
		.header__nav {
			font-size: 16px;
			line-height: 22px;
		}
		.header__item {
			&-img {
				width: 32px;
				height: 32px;
			}
			&-title {
				font-size: 14px;
				line-height: 19px;
			}
			&.tel .header__item-title{
				font-size: 18px;
				line-height: 24px;
			}		
		} 
	}
}
.nav {
	ul {
		display: flex;
	}
	li {
		margin-right: 60px;
		transition: .2s;
		&:last-child {
			margin: 0;
		}
		&:hover {
			color: #E52D2D;
		}
	}
}
.mobile-menu {
	display: none;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	transform: scaleX(0);
	transform-origin: right;
	width: auto;
	height: 100vh;
	background: #313945;
	padding: 100px 60px 40px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	transition: .2s;
	&.active {
		visibility: visible;
		transform: scaleX(1);
		opacity: 1;
	}
	ul {
		flex-direction: column;
		margin: 0 0 auto;
	}
	li {
		margin: 0;
		&:last-child {
			.nav__link {
				border: none;
			}
		}
	}
	.nav__link {
		display: block;
		padding: 24px 0;
		min-width: 200px;
		border-bottom: 1px solid #1D2228;
		font-size: 18px;
		line-height: 24px;
	}
	&__logo {
		width: 85px;
		height: 39px;
		filter: invert(1);
		position: absolute;
		top: 12px;
		left: 16px;
	}
	&__footer {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;	
		.title {
			color: #A8B0BC;
		}	
		.link {
			font-family: Alegreya;
			font-style: normal;
			font-weight: 900;
			font-size: 24px;
			line-height: 33px;			
		}
		.subtitle {
			text-transform: initial;
			color: #A8B0BC;
			font-weight: normal;
		}
		.btn {
			font-family: Alegreya;
			margin: 40px 0 0;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;	
			text-transform: uppercase;	
			letter-spacing: 0.666667px;
		}
	}
}

@media (max-width: 1440px) {
	.header {
		&__logo {
			height: 60px;
		}
		&__item {
			&.tel {
				margin-right: 30px;
			}
		}
	}
	.nav {
		li {
			margin-right: 30px;
		}
	}
}
@media (max-width: 1200px) {
	.header {
		&__logo {
			width: 130px;
		}
		&__item {
			&-subtitle {
				font-size: 10px;
				line-height: 16px;
			}
			&.tel {
				font-size: 21px;
				line-height: 30px;
			}
			&.drop {
				margin-right: 30px;
				font-size: 15px;
				line-height: 21px;
			}
		}
	}
	.nav {
		li {
			margin-right: 15px;
			font-size: 15px;
			line-height: 21px;
		}
	}
}
@media (max-width: 990px) {
	.header {
		&__logo {
			margin-right: auto;
			height: 55px;
		}
		.header__nav {
			display: none;
		}
		.header__wrap_btn {
			display: block;
			z-index: 21;
		}
	}
	.mobile-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		transform: scaleX(0);
		transform-origin: right;
		width: auto;
		height: 100vh;
		background: #313945;
		padding: 100px 60px 40px;
		margin: 0;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		transition: .2s;
		&.active {
			visibility: visible;
			transform: scaleX(1);
			opacity: 1;
		}
		ul {
			flex-direction: column;
		}
		li {
			margin: 0;
			&:last-child {
				.nav__link {
					border: none;
				}
			}
		}
		.nav__link {
			display: block;
			padding: 24px 0;
			min-width: 200px;
			border-bottom: 1px solid #1D2228;
			font-size: 18px;
			line-height: 24px;
		}
		
	}	
	.mobile-menu {
		display: flex;
	}
}
@media (max-width: 768px) {
	.header {
		padding: 32px 0 0;
		&__logo {
			height: 60px;
			margin-right: auto;
		}
		&__item {
			&-img {
				margin: 0;
			}
			&-text {
				display: none;
			}
			&.tel {
				margin-right: 32px;
			}
			&.drop {
				margin-right: 70px;
			}
		}
	}
}
@media (max-width: 520px) {
	.header {
		&__logo {
			height: 39px;
		}
		&__item {
			&.tel {
				margin-right: 16px;
			}
			&.drop {
				margin-right: 20px;
			}
		}
		.lang {
			display: none;
		}
		&__wrap_btn {
			margin: 0;
		}
	}
}