.slider {
	&__slid {
		margin-right: 32px;
		visibility: hidden;
		transition: .5s;
		&.slick-active {
			visibility: visible;
		}
	}
	&__img {
		margin: 0 0 12px;
		img {
			object-fit: contain;
		}
	}
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 30px;
		margin: 0 0 14px;
	}
	&__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;		
	}
	.slick-dots {
		display: none;
		margin: 20px 0 0;
		font-size: 0;
		line-height: 0;
		align-items: center;
		justify-content: center;
		gap: 8px;
		li {
			width: 12px;
			height: 12px;
			background: #DFE3EB;
			border-radius: 50%;
			&.slick-active {
				background: #E52D2D;
			}
		}
	}
	@media (max-width: 1200px) {
		&__title {
			font-size: 20px;
			line-height: 25px;
			margin: 0 0 8px;		
		}
		&__text {
			font-size: 14px;
			line-height: 21px;		
		}		
	}
	@media (max-width: 768px) {
		&__slid {
			margin-right: 0;
		}
		.slick-dots {
			display: flex;
		}
	}
}